/* STYLES FOR GLOBAL ELEMENTS */

progress {
	width: 100%;
	margin-top: 3px;
}
textarea {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	overflow: auto;
	border-color: #34D134;
}
.pa_top {
	width: 100%;
	margin-top: 3px;
	margin-bottom: 2%;
	text-align: center;
}
.pa_container  {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.pa_managerDiv {
	width: 50%;
	margin: 30px auto;
	text-align: left;
	display: none;
}
.pa_maclogdiv {
	display: none;
}
.pa_button, .pa_small_button {
	background-color: #000;
	font-size: 20px;
	width: 245px;
	height: 40px;
	color: #34D134;
	border: 2px solid #34D134;
	padding: 2px; 5px;
	cursor: pointer;
}
.pa_small_button {
	width: 155px;
	height: 30px;
	font-size: 14px;
}
.pa_button:hover, .pa_small_button:hover {
	border-color: white;
}
.pa_inject_table {
	width: 70%;
	margin: 0 auto;
}
.pa_injects_manager {
	display: none;
	width: 60%;
	margin: 20px auto;
}
.pa_cloner_table {
	margin: 20px auto 20px auto;
}
table.pa_cloner_table td {
	padding-top: 10px;
}
.pa_h1, .pa_h2 {
	color: #34D134;
}
.text_center {
	text-align: center;
}
.pa_moduleSelect {
	width: 200px;
	height: 25px;
	background-color: #000;
	color: #34D134;
	font-size: 14px;
}

/* STYLES FOR ELEMENTS IN THE SMALL TILE */
.pa_small_tile_table {
	margin: 0 auto;
}
tr.pa_small_tile_tr > td {
	padding-bottom: 5px;
}
tr.pa_config_row > td {
	padding-bottom: 25px;
}
.pa_small_tile_td {
	vertical-align: top;
	font-size: 16px;
}
#auto_auth_container {
	display: none;
}

/* STYLES FOR THE CONFIG TAB OF THE LARGE TILE */
.pa_config_div {
	width: 100%;
	text-align: center;
	overflow: auto;
}
.pa_config_table {
	margin: 20px auto 20px auto;
}
.pa_config_field {
	width: 100%;
	max-width: 400px;
	height: 30px;
	font-size: 20px;
}
iframe {
	display: none;
}
#iframeDiv {
	display: none;
}
#iframeLoading {
	text-align: center;
	margin: 0 auto;
	display: none;
}

/* STYLES FOR CHANGELOG TAB */
.changelog_version {
	display:none;
	color: #34D134;
}
.displayVersion {
	display: block;
}

/* MESSAGE BOX STYLES */
.main {
	background-color: rgba(0,0,0,.7);
	position: absolute;
	border-style:solid;
	border-width:medium;
	border-color:#aaa;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(11,11,11,0.9);
	-moz-box-shadow: 10px 10px 5px 0px rgba(11,11,11,0.9);
	box-shadow: 10px 10px 5px 0px rgba(11,11,11,0.9);
}
@media screen and (min-width: 610px) {
	#msgBox,#macStealerBox,#tserverdiv,#pa_dependsConfirmDiv {
		top: 50%;
		left: 50%;
		width: 600px;
		height: auto;
		max-height: 430px;
		margin-top: -200px;
		margin-left: -300px;
		z-index: 10;
		display: none;
	}
	#tserverdiv{
		height: 490px;
		max-height: 550px;
		margin-top: -275px;
	}
	#pa_dependsConfirmDiv {
		height: 400px;
		max-height: 460px;
		margin-top: -230px;
	}
}
@media screen and (max-width: 609px) {
	#msgBox,#macStealerBox,#tserverdiv,#pa_dependsConfirmDiv {
		top: 50%;
		left: 0px;
		width: 100%;
		height: auto;
		max-height: 430px;
		margin-left: 0px;
		margin-top: -200px;
		z-index: 10;
		display: none;
	}
	#tserverdiv{
		height: auto;
		max-height: 570px;
		margin-top: -275px;
	}
	#pa_dependsConfirmDiv  {
		height: auto;
		max-height: 480px;
		margin-top: -230px;
	}
}
#overlay-back {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: 5;
	display: none;
}